*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
  html {
      overflow:hidden;
  }
    
  #pages{
    background-color: white;
  }
    
  .carousel .slide{background: white !important;}
  .carousel.carousel-slider{margin: 0 auto !important}
  .carousel .control-dots .dot {
      background: black !important;
      width: 15px !important;
      height: 15px !important;
  }
  .carousel .control-next.control-arrow:before{
      border-left: 8px solid rgb(0, 0, 0) !important;
  }
  .carousel .control-prev.control-arrow:before{
      border-right: 8px solid rgb(0, 0, 0) !important;
  }
  .carousel.carousel-slider .control-arrow:hover{
      background:white !important;
  }
  .carousel .carousel-status{
      display: none !important;
  }
  .clearbitText {
      text-align: center;
      font-size: 10px;
      color: #999;
      margin-bottom: 10px; 
  }
  .font11 {
    font-size: 11px;
  }
  