*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',
    sans-serif;
    font-size: 15px;
  }
  html {
      overflow:hidden;
  }
    
  #pages{
    background-color: white;
  }
    
  .carousel .slide{background: white !important;}
  .carousel.carousel-slider{margin: 0 auto !important}
  .carousel .control-dots .dot {
      background: black !important;
      width: 15px !important;
      height: 15px !important;
  }
  .carousel .control-next.control-arrow:before{
      border-left: 8px solid rgb(0, 0, 0) !important;
  }
  .carousel .control-prev.control-arrow:before{
      border-right: 8px solid rgb(0, 0, 0) !important;
  }
  .carousel.carousel-slider .control-arrow:hover{
      background:white !important;
  }
  .carousel .carousel-status{
      display: none !important;
  }
  .clearbitText {
      text-align: center;
      font-size: 10px;
      color: #999;
      margin-bottom: 10px; 
  }




/*
* {
    font-family: 'Open Sans', sans-serif;
    --theme-primary-color-1: #34aae0;
    --theme-secondary-color-1: #fff;
    --theme-primary-color-2: #de007b;
    --theme-secondary-color-2: #fff;
    --cause-logo: url('../images/logo.png');
}
body {
    margin: 0px;
}
#popupDiv {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 615px;
    margin: 0;
    font-size: 18px;
    background-color: white;
}

h1 {
    font-size: 15px;
}

main {
    flex-grow: 1;
    padding: 0px 20px 0px;
    text-align: center;
    overflow: auto;
    height: 390px;
}

.emphasized {
    color: var(--theme-primary-color-1);
    font-weight: normal;
}

p {
    color: #999;
    font-weight: lighter;
}

button {
    background: var(--theme-primary-color-1);
    color: var(--theme-secondary-color-1);
    border: 0;
    border-radius: .25em; 
    padding: .5em 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    outline: 0;
}
footer {
    height: 120px;
}
svg .cls-1 {
    fill: var(--theme-primary-color-2);
}

svg .cls-2 {
    fill: var(--theme-primary-color-2);
}

svg .cls-3 {
    fill: var(--theme-secondary-color-1);
}

svg .cls-4 {
    fill: var(--theme-secondary-color-1);
}
*/