#brand {
    border-right: solid 1px #e7e7e7;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    height: 442px;
  }
  
  .company-info {
    margin-top: 5px;
  }
  
  .status {
    display: grid;
    grid-template-columns: 52px auto;
    grid-gap: 14px;
  }
  
  .status img {
    width: 100%;
    z-index: 2;
  }
  
  .status p {
    color: #6b25aa;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .company-logo {
    box-sizing: border-box;
    padding: 5px 20px;
    border: solid 1px #dcdcdc;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
    z-index: 1;
    text-align: center;
    display: grid;
    justify-content: center;
  }

  .logo-box{
    width: 80%;
    height: 100px;
    display: grid;
    justify-self: center;
  }
  
  .company-logo img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    max-height: 100%;
  }
  
  #contributions p {
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 1px #8c8c8c;
    font-size: 14px;
  }
  
  #contributions ul {
    padding-top: 10px;
    list-style-type: none;
    display: grid;
    grid-gap: 2px;
    height: 25px;
    color: white;
    font-weight: 700;
  }
  #contributions div{
      padding-top: 10px;
  }
  
  #contributions ul#political {
    grid-template-columns: var(--overall-contribution);
  }
  
  #contributions ul#employee {
    grid-template-columns: var(--employee-contribution);
  }
  
  #contributions ul#pac {
    grid-template-columns: var(--pac-contribution);
  }
  
  #contributions ul li {
    display: grid;
    align-content: center;
  }
  
  #contributions ul li:nth-child(1) {
    background: #005eff;
    padding-left: 10px;
  }
  
  #contributions ul li:nth-child(2) {
    background: #ff0000;
    text-align: right;
    padding-right: 10px;
  }

  .foxSection{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #8c8c8c;
    font-size: 14px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }

  .foxSection img{
    width: 20px;
    float: left;
    vertical-align: center;
  }
