/*
#home {
    padding-top: 20px;
}
.company-name{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 5%;
    text-align: left;
}

.photo img{
    width: 100%;
}

.company-name p{
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.company-name p.title{
    color: #34aae0;
    font-size: 16px;
    font-weight: 600;
}

.numbers ul{
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
}

.numbers ul li{
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 6px 0;
}

.numbers ul li:nth-child(1){
    background: #34aae0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.numbers ul li:nth-child(2){
    background: #c70100;
    color: black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.numbers ul.employee li:nth-child(2){
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

p.blue{
    color: #34aae0;
}

.numbers p{
    margin: 10px 0 5px 0;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}

ul.overall{
    grid-template-columns: var(--overall-contribution);
}

ul.ceo{
    grid-template-columns: var(--ceo-contribution);
}

ul.employee{
    grid-template-columns: var(--employee-contribution);
}

ul.pac{
    grid-template-columns: var(--pac-contribution);
}

ul.board{
    grid-template-columns: var(--pac-contribution);
}
*/






#brand {
    border-right: solid 1px #e7e7e7;
    box-sizing: border-box;
    padding-bottom: 47px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .company-info {
    margin-top: 5px;
  }
  
  .status {
    display: grid;
    grid-template-columns: 52px auto;
    grid-gap: 14px;
  }
  
  .status img {
    width: 100%;
    z-index: 2;
  }
  
  .status p {
    color: #6b25aa;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .company-logo {
    box-sizing: border-box;
    padding: 5px 20px;
    border: solid 1px #dcdcdc;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
    z-index: 1;
    text-align: center;
    display: grid;
    justify-content: center;
  }

  .logo-box{
    width: 80%;
    height: 100px;
    display: grid;
    justify-self: center;
  }
  
  .company-logo img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
    max-height: 100%;
  }
  
  #contributions p {
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid 1px #8c8c8c;
    font-size: 14px;
  }
  
  #contributions ul {
    padding-top: 10px;
    list-style-type: none;
    display: grid;
    grid-gap: 2px;
    height: 25px;
    color: white;
    font-weight: 700;
  }
  #contributions div{
      padding-top: 10px;
  }
  
  #contributions ul#political {
    grid-template-columns: var(--overall-contribution);
  }
  
  #contributions ul#employee {
    grid-template-columns: var(--employee-contribution);
  }
  
  #contributions ul#pac {
    grid-template-columns: var(--pac-contribution);
  }
  
  #contributions ul li {
    display: grid;
    align-content: center;
  }
  
  #contributions ul li:nth-child(1) {
    background: #005eff;
    padding-left: 10px;
  }
  
  #contributions ul li:nth-child(2) {
    background: #ff0000;
    text-align: right;
    padding-right: 10px;
  }

