footer {
    width: 100%;
    background: #033996;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #competitors-btn,
  #actions-btn {
    color: #416ab0;
  }
  
  footer p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  footer img {
    width: 30px;
    margin: 0 auto;
  }
  
  footer div {
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    cursor: pointer;
  }
  footer div.nav-item.selected p{
    color: white;

  }
  footer div.nav-item p{
    color: #416ab0
  }