#bookmark{
    cursor: pointer;
}
#bookmark img{
    width: 95px;
    height: 36px;
}

#bookmark .issue-container{
    width: 207px;
    position: absolute;
    top: 36px;
    left: -38px;
}

#bookmark .issues{
    background: red;
    color: #fff;
    padding: 2px 15px;
    display: flex;
}

#bookmark .numberCircle{
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #fff;
    width: 11px;
    height: 11px;
    margin-right: 2px;
    text-align: center;
    margin-left: 25px;
    margin-top: -2px;
}