#bookmark{
    cursor: pointer;
}
#bookmark .issue-container{
    top: 36px;
    left: -23px;
}

#bookmark .issues{
    padding: 2px 0px;
}

#bookmark .numberCircle{
    border-radius: 50%;
    padding: 2px;
    width: 11px;
    height: 11px;
    margin-right: 2px;
    margin-left: 25px;
    margin-top: -2px;
}

#bookmark .no-issue-ribbon  img{
    width: 75px;
    height: 35px;
}

#bookmark .issue-ribbon  img{
    width: 95px;
    height: 36px;
}